<div id="container">
  <h1>Mes produits</h1>
  <div *ngIf="(products$ | async)?.length ?? 0 > 0; else noProducts">
    <table [dataSource]="products$" class="mat-elevation-z8" mat-table>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell> Name</th>
        <td *matCellDef="let product" mat-cell>
          <div class="column">
            <ik-image [path]="getImgPath(product)" [transformation]="imgTransformation"></ik-image>
            {{ product.name }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell> Description</th>
        <td *matCellDef="let product" mat-cell> {{ product.description }}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th *matHeaderCellDef mat-header-cell> Price</th>
        <td *matCellDef="let product" mat-cell> {{ product.price | currency }}</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>
  <ng-template #noProducts>
    <mat-spinner></mat-spinner>
  </ng-template>

  <div class="littleVerticalSpacer"></div>
  <app-products [refreshProducts]="refreshProducts"></app-products>
</div>
