#container {
  padding: 2vw;
}

.littleVerticalSpacer {
  height: 32px;
}

.column {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 4px;
}
