<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ title }}</span>
    <span class="littleSpacer"></span>
    <button mat-button routerLink="/caterer">Caterer</button>
    <button mat-button routerLink="/commercant">Commercant</button>
    <span class="spacer"></span>
    <span>Hello, {{ username$ | async }} !</span>
    <span class="littleSpacer"></span>
    <button (click)="logout()" mat-raised-button>Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
