:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
}

#container {
  padding: 2vw;
  background-color: #424242;
  height: 100%;
}

.column {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 4px;
}

.quantity-text {
  padding: 8px;
}
