:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
}

#container {
  padding: 30px;
  background-color: #424242;
  height: 100%;
}

.column {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

