<div id="container">
  <h1>Produits disponibles</h1>
  <mat-list>
    <mat-list-item *ngFor="let product of products$ | async">
      <span matListItemTitle>{{ product.name }} - {{ product.price }}€ - {{ product.description }}
        <button (click)="decreaseQuantity(product)" color="warn" mat-icon-button>-</button>
        <span>{{ getQuantity(product) }}</span>
        <button (click)="increaseQuantity(product)" color="primary" mat-icon-button>+</button>
      </span>
    </mat-list-item>
  </mat-list>
  <span>Total: {{ getTotal() }} €</span>
  <br>
  <br>
  <button (click)="command()" color="accent" mat-raised-button> Passer commande</button>
</div>
